{% if logged_in %}
  <div class="relative">
    <button onclick="toggleProfileMenu()" class="rounded-full bg-orange-500 p-2 text-white font-bold">
      {{ user.display_name }}
    </button>

    <div id="profileDropdown" class="absolute right-0 mt-2 w-60 rounded-lg bg-orange-500 text-white shadow-lg p-4 hidden z-50">
      <div class="text-center">
        {% if user.picture %}
          <img src="{{ user.picture.url }}" alt="Profile" class="rounded-full w-16 h-16 mx-auto mb-2" />
        {% endif %}
        <p class="font-semibold">{{ user.display_name }}</p>
      </div>
      <ul class="mt-4 space-y-2">
        <li><a href="/user/{{ user.uid }}/wishlist" class="hover:underline block">♡ Mijn wensenlijst</a></li>
        <li><a href="/user/{{ user.uid }}/visited" class="hover:underline block">🚩 Bezochte plekjes</a></li>
        <li><a href="/user/logout" class="hover:underline block">Uitloggen</a></li>
      </ul>
    </div>
  </div>
{% endif %}
{# DEBUG: {{ kint(content) }} #}
