
<article class="text-black">
  <div class="content space-y-4">

    {{ title_prefix }}
    <h1 class="text-2xl font-bold">{{ label }}</h1>
    {{ title_suffix }}

    {% if content.field_upload_image %}
      {{ content.field_upload_image }}
    {% endif %}

    {% if content.field_description %}
      {{ content.field_description }}
    {% endif %}
{% if content.field_geolocation %}
  <div class="my-6">
    {{ content.field_geolocation }}
  </div>
{% else %}
  <div class="text-red-600">Geolocation not found</div>
{% endif %}


  </div>
</article>
